/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #202123;
}

/* LEFT-ALIGNED CONTENT */
.nav-left {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 0 0 25px;
}

/* TETHER LOGO */
.nav-logo {
  height: auto;
  width: 160px;
}

/* NAV LINKS */
.nav-link-account,
.nav-link-sign-in,
.nav-link-models {
  text-decoration: none;
  color: #e9e3d5;
  margin: 0 0 0 80px;
  font-size: 16px;
}

/* RIGHT-ALIGNED CONTENT */
.nav-right {
  display: flex;
  align-items: center;
  padding: 0 35px 0 0;
}

/* WELCOME MESSAGE */
.nav-welcome {
  text-transform: uppercase;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
  padding: 0 80px 0 0;
}

/* HIDE ICONS */
.nav-link-account-icon,
.nav-link-sign-in-icon,
.nav-link-models-icon {
  display: none;
}

/* HOVER EFFECTS */
nav a:hover {
  color: #3aa9f4;
}

.nav-link-account-icon img:hover,
.nav-link-sign-in-icon img:hover,
.nav-link-models-icon img:hover,
.nav-shopping-bag img:hover {
  filter: invert(67%) sepia(31%) saturate(6368%) hue-rotate(179deg)
    brightness(101%) contrast(91%);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
  /* TETHER LOGO */
  .nav-logo {
    height: auto;
    width: 120px;
  }

  /* HIDE TEXT LINKS & WELCOME */
  .nav-link-account,
  .nav-link-sign-in,
  .nav-link-models,
  .nav-welcome {
    display: none;
  }

  /* SHOW & SPACE ICONS */
  .nav-link-account-icon,
  .nav-link-sign-in-icon,
  .nav-link-models-icon {
    display: inline-block;
  }

  .nav-left {
    justify-content: flex-start;
    flex-grow: 1;
  }

  .nav-btns {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
  }

  .nav-right {
    justify-content: space-evenly;
  }
}
