.newDivForSlider{
  border:rgb(217, 240, 17) 2px solid;
}

.car-detail-background-img {
  display: flex;
    flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #e9e3d5;
  background-image: url(../../backgrounds/Black-Grid.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: fit-content;
  padding: 50px;
  box-sizing: border-box;
  height: calc(100% - 70px - 80px);
  flex-grow: 1;
  margin: 80px 0 0 0;
}
.car-detail-background {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 33, 35, 0.85);
  width: 100vw;
  box-shadow: 0 0 10px #4a4848;
  border:red 2px solid;
}

.newDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border:green 2px solid; */
  width: 60vw;
  margin: 0 auto;
}
.car-detail-image {
  width: 60vw;
  border:rgb(255, 0, 170) 2px solid;
  
  margin-bottom: 25px;
}




.car-detail-textblock-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-decoration: none;
  margin: 2vh 2vw;
  width: 30vw;
  border:red 2px solid;
}
.car-detail-makeAndModel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* font-size:40px; */
  font-size: 3vmax;
  font-weight: 700;
  font-style: italic;
}
.car-detail-price {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
}
.car-detail-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.25;
  font-size: 1.05vmax;
  /* font-size: 16px; */
  text-align: justify;
  font-style: italic;
  font-weight: 500;
}
.car-detail-additional-info {
  padding: 3px;
  margin-bottom: 3px;
  /* font-size: 18px; */
  font-size: 1.35vmax;
  line-height: 1.5;
  color: rgb(230, 200, 53);
}

.carDetail-icon {
  display: inline;
}
.image-detail {
  padding-left: 3px;
  padding-right: 12px;
}
.button {
  display: flex;
  font-family: “Roboto”, sans-serif;
  background-color: #f2f0ea;
  color: #403d3d;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.gallery{
  margin:10px 50px;
}
.gallery img{
  width:230px;
  padding:5px;
  transition: 1s;
  /* filter:grayscale(100%); */
}
.gallery img:hover{
  /* filter:grayscale(0); */
  transform: scale(1.1);
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px)  {
  .car-detail-background {
    padding-top: 15px;
    flex-direction: column;
  }

  .car-detail-textblock-main {
    width: 60vw;
  }
  .car-detail-price {
    font-size: 2.75vmax;
    margin-bottom: 5px;
  }
  .car-detail-info {
    margin-bottom: 3px;
  }
}
