footer {
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #202123;
}

.footer-copyright {
  font-size: 14px;
}

.footer-github {
  position: absolute;
  left: 35px;
}

.footer-github img:hover {
  filter: invert(67%) sepia(31%) saturate(6368%) hue-rotate(179deg)
    brightness(101%) contrast(91%);
}

.small-logo-div {
  position: absolute;
  right: 35px;
}

.small-logo {
  width: 35px;
  height: auto;
}
