/*CAR SHOPPING FLEX*/
.carShopping {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-top: 2px solid rgb(58, 57, 56);
}

.carShopping-image {
  width: 30vw;
}
