/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.container{
  display: flex;

  align-items: center;
  justify-content: center;
/* width:100px */
}





img.img1{
height: 50vh;
}