/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.slider-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkkhaki;
}
