/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.container{
  display: flex;
  align-items: center;
  justify-content: center;
background-color: darkkhaki;
}

.images{
  background-color: darkkhaki;
}
.m1{
  border:darkmagenta solid 5px;
  width:10px;
}

