/* .img{
  position: absolute;
  overflow: hidden;
  width: 100vw;
} */

/* .img1-div {
  background-image: url(../../backgrounds/rimac-home-page.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: absolute;
  width: 100%;
  height: calc(100vh - 70px);
  position: absolute;
}

.img2-div {
  background-image: url(../../backgrounds/lamborghini-terzo-millennio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: absolute;
  width: 100%;
  height: calc(100vh - 70px);
  position: absolute;
}

.img3-div {
  background-image: url(../../backgrounds/2021-porsche-taycan.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: absolute;
  width: 100%;
  height: calc(100vh - 70px);
  position: absolute;
} */

.carousel-display-div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: absolute;
  width: 100%;
  /* padding: 50px; */
  box-sizing: border-box;
  height: calc(100vh - 70px);
  flex-grow: 1;
  margin: 80px 0 0 0;
  overflow: hidden;
  z-index: -1;
}

.carousel-children {
  z-index: 5;
  position: absolute;
}