/* BACKGROUND IMAGE */
.sign-in-background-img {
  background-image: url("../../backgrounds/2021-porsche-taycan.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 70px - 80px);
  flex-grow: 1;
  margin: 80px 0 0 0;
  overflow: hidden;
}

/* SIGNIN PAGE */
.sign-in-display-div {
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SET SIGNIN DIV SIZE/COLOR/DISPLAY */
.sign-in-div {
  width: 450px;
  height: fit-content;
  box-sizing: border-box;
  border: solid 1px #625d5d;
  background-color: rgb(32, 33, 35, 0.85);
  box-shadow: 0 0 10px #4a4848;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SET FORM DISPLAY */
.sign-in-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* LEFT-ALIGN LABELS/INPUTS */
.sign-in-fields {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

/* ==========TEXT/INPUT STYLING========== */

/* SIGNIN HEADER */
.sign-in-form h2 {
  font-size: 30px;
  margin: 30px 0 5px 0;
}

/* INPUT LABELS */
.sign-in-email-label,
.sign-in-password-label {
  font-size: 14px;
  padding: 7px 0;
}

/* INPUTS */
.sign-in-email-input,
.sign-in-password-input {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #202123;
  background-color: #f2f0ea;
  border: solid 1px #625d5d;
  box-sizing: border-box;
  border-radius: 3px;
  height: 37px;
  width: 295px;
  padding: 0 0 0 10px;
  margin: 0 0 20px 0;
}

/* INPUT PLACEHOLDERS */
.sign-in-email-input::placeholder,
.sign-in-password-input::placeholder {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: #615e5e;
}

/* SUBMIT BUTTON */
.sign-in-submit {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #4a4848;
  background-color: #f2f0ea;
  box-sizing: border-box;
  border: solid 1px #625d5d;
  border-radius: 3px;
  padding: 2px 15px;
  margin: 7px 0;
}

.sign-in-submit:hover {
}

/* NO ACCOUNT? */
.no-account p {
  font-size: 12px;
  margin: 20px 0 40px 0;
}

.no-account a {
  color: #e9e3d5;
}

.no-account a:hover {
}

/* MEDIA QUERIES */
@media only screen and (max-width: 480px) {
  /* SIGNIN DIV - set responsive width */
  .sign-in-div {
    width: 90vw;
  }

  /* INPUT LABELS - increase font size */
  .sign-in-email-label,
  .sign-in-password-label {
    font-size: 16px;
  }

  /* INPUTS - set responsive width */
  .sign-in-email-input,
  .sign-in-password-input {
    width: 70vw;
  }

  /* NO ACCOUNT? - increase font size */
  .no-account p {
    font-size: 16px;
  }
}
