/*CAR DISPLAY FLEX*/
.carDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 0;
}
/*CARD DISPLAY FLEX*/
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #e9e3d5;
  text-decoration: none;
  flex-wrap: wrap;
  font-family: “Roboto”, sans-serif;
}

.carDisplay-header {
  width: 40vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
/*CAR DISPLAY IMAGE*/
.carDisplay-image {
  /* width: 500px; */
  width: 37vw;
}
/*CAR DISPLAY COLUMN*/
.carDisplay-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-decoration: none;
  margin: 5vh 5vw;
  width: 40vw;
}

.carDisplay-make-icon {
  width: 100%;
}

.carDisplay-make {
  margin: 0;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.carDisplay-price {
  margin: 0;
  font-weight: 300;
}
.carDisplay-info {
  text-align: justify;
}

.carDisplay-icon {
  display: inline;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .card {
    border-bottom: 2px solid rgb(58, 57, 56);
  }

  .carDisplay-info {
    text-align: center;
  }

  .carDisplay-column {
    align-items: center;
    width: 60vw;
    margin: 20px;
  }

  .carDisplay-image {
    margin-top: 15px;
    width: 50vw;
  }
}
