.home-background-image {
  background-image: url(../../backgrounds/rimac-home-page.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: absolute;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  height: calc(100vh - 80px);
  flex-grow: 1;
  margin: 80px 0 0 0;
  overflow: hidden;
}

.home-content {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
}

.home-logo-box {
  position: absolute;
  bottom: 45px;
  right: 40px;
  margin: auto;
}

.home-logo {
  width: 450px;
  height: auto;
  margin: 0 auto;
}

.logo-subtext {
  text-align: center;
  margin: 0 auto;
  font-style: italic;
}

.welcome-content {
  top: 190px;
  left: 45px;
  position: absolute;
  text-align: left;
}

.welcome-text {
  margin-bottom: 10px;
  color: #e9e3d5;
  font-size: 40px;
}

.browse-inventory {
  text-decoration: none;
  color: #e9e3d5;
  font-size: 20px;
}

@media only screen and (max-width: 480px) {
  .home-background-image {
    height: calc(100vh - 80px);
    width: 100%;
  }

  .home-logo-box {
    justify-content: center;
    position: absolute;
  }

  .logo-subtext {
    color: transparent;
    position: absolute;
  }

  .home-logo {
    width: 200px;
    justify-content: center;
    height: auto;
    margin: 0 auto;
  }

  .welcome-content {
    top: 85px;
    left: 0 auto;
    text-align: center;
  }

  .welcome-text {
    font-size: 28px;
    margin-bottom: 0%;
  }

  .browse-inventory {
    font-size: 20px;
  }
}
